RewriteEngine on

<IfModule mod_rewrite.c>
    RewriteBase /
    #Removes access to the core folder by users.
     RewriteCond %{REQUEST_URI} ^core.*
     RewriteRule ^(.*)$ /index.php?/$1 [L]
    #Removes access to the application folder by users.    
     RewriteCond %{REQUEST_URI} ^application.*
     RewriteRule ^(.*)$ /index.php?/$1 [L]
    #Checks to see if the user is attempting to access a valid file,
    #such as an image or css document, if this isn't true it sends the
    #request to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>